body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 1030;
}

.container {
    margin-top: 150px;
}

.sideBar {
    position: sticky;
    top: 0;
}

h1 {
    font-size: 15px;
    color: #73777A;
    font-weight: 400;
}
.sideNavItems {
    display: flex;
    align-items: center;
    color: #2A649D;
}

#tools {
    margin-top: 50px;
}

.sideNavItems .nav-link{
    color: #2A649D; 
    font-weight: 500;
}

.btnCreate {
    background-color: #90B30F;
    color: white;
}
.btnCreate:hover {
    background-color: #688308;
    color: white;
}

.addFile {
    color: #90B30F;
    font-weight: 500;
    width:9px;
    height:18px;
    fill:none;
}

#downArrow {
    width: 15px; 
    vertical-align: middle;
    margin-right: 5px;
}

#news {
    margin-left: 20px;
}
  
.card {
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.userIcon {
    width:47px; 
    height:47px; 
    fill:none;
    margin-right: 10px;
}

.infoUsername{
    color: #90B30F;
}

.boxBorderHeader{
    border-bottom: 1px solid #90B30F;
}

.handshakeIcon {
    width:29px; 
    height:29px;
    fill:none;
    margin-right: 10px;
}

#contentBox {
    color: #2A649D;
}

#handshakeName{
    color: #2A649D;
}

.report-card {
    background-color: #FFF;
    border-left: 5px solid #4CAF50; 
    color: #333;
    margin-bottom: 1rem;
    margin-top: 23px;
}

.report-card-header {
    background-color: #F7F8FA;
    border-bottom: none;
    font-size: 1rem;
    color: #888888;
}

.report-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-value-up {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4CAF50;
}

.report-value-down {
    font-size: 1.5rem;
    font-weight: bold;
    color: #C33C38;
}

.report-increase {
    color: #4CAF50; 
    font-weight: bold;
}

.report-decrease {
    color: #F44336; 
    font-weight: bold;
}

.icon-box {
    width: 2.5rem; 
    height: 2.5rem; 
    fill: currentColor;
    padding-left: 20px;
    padding-top: 8px;
}
