<style>
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  
  <nav style="background-color: #72777A; padding: 1em 0; position: fixed; bottom: 0; left: 0; right: 0; display: flex; justify-content: space-between; align-items: center;">
    <p style="margin: 0; padding-left: 112px; font-family: 'Inter', sans-serif; font-weight: 400; font-size: 14px; line-height: 17px; color: #FFFFFF;">©2023 FH Technikum Wien</p>
    <div style="padding-right: 112px;">
        <a href="main.php" style="margin: 0 10px; color: #faf7f7; text-decoration: none; font-family: 'Inter', sans-serif; font-size: 14px;">Home</a>
        <a href="#" style="margin: 0 10px; color: #faf7f7; text-decoration: none; font-family: 'Inter', sans-serif; font-size: 14px;">Impressum</a>
        <a href="#" style="margin: 0 10px; color: #faf7f7; text-decoration: none; font-family: 'Inter', sans-serif; font-size: 14px;">Privacy</a>
    </div>
</nav>



  