<nav class="navbar navbar-expand-custom navbar-light navbar" style="background-color: #2A649D;">
    <div class="container-fluid">
        <div style="display: flex; align-items: center;">
            <a class="navbar-brand" href="/MentoringPlatform/pages/main.php">
                <img id="logo" src="../screenshots/newlogo.png" alt="Logo" style="width: 180px; height: 80px; margin-left: 10px;">
                <!-- Adjust margin-left here to align the text under the logo -->
                
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active" style="margin-left: 50px;">
                    <a class="nav-link" href="#" style="color: white; font-size: 20px;">
                        About
                    </a>
                </li>
                <li class="nav-item active" style="margin-left: 50px;">
                    <a class="nav-link" href="#" style="color: white; font-size: 20px;">
                       Help
                    </a>
                </li>
            </ul>
            <div class="d-flex ms-auto">
                <a class="nav-link" href="../pages/profile.php"><i class="bi bi-person-circle" style="font-size: 50px; color: #fff;"></i></a>
            </div>
        </div>
    </div>
</nav>
